* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --green: #53B175;
}

body {
    min-width: 320px;
    font-family: Quicksand;
}


a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

.productReviewRowheading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productReviewRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.mainProductsReviewTableHeading{
    font-size: 25px;
    font-weight: 600;
}
.productnameheading {
    font-size: 15px;
    margin: 0px;
}
.ProductReviewProductImageDiv,
.ProductReviewProductImageDivHeading {
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ProductReviewProductImageDiv img {
    width: 25%;
}

.ProductReviewProductPriceDiv,
.ProductReviewProductPriceDivHeading {
    width: 15%;
}

.ProductReviewProductRatingDiv,
.ProductReviewProductRatingDivHeading {
    width: 25%;
}

.ProductReviewProductQtyDiv,
.ProductReviewProductQuantityDivHeading {
    width: 20%;
}

.table_qty {
    margin: 0px;
    font-size: 15px;
    border: 1px solid #d9d9d9;
    width: 20%;
    border-radius: 26%;
    padding: 10px;
    text-align: center;
}

.table_h3 {
    margin: 0px;
    font-size: 15px;
}

.mainHeadingRow {
    font-size: 18px;
    color: #a7a0a0;
}

.mainProductDetailsSummary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.OrderDetailsSummary {
    text-align: center;
    font-size: 18px;
    color: gray;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.ProductReviewAlert {
    position: fixed;
    top: 77px;
    right: 10px;
    width: 30%;
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 900;
}

.ProductReviewMainHeading {
    text-align: center;
    font-size: 44px;
    font-family: poppins;
    color: #1A1A1A;
    margin-top: 30px;
    font-weight: 900;
}

.ProductRatingInp {
    width: 100%;
    padding: 15px;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    margin-bottom: 15px;
}

.ProductRatingInp:focus {
    outline: none;
}

.ProductReviewLabel {
    font-size: 18px;
    font-weight: 500;
    font-family: poppins;
    text-align: center;
    margin: 0%;
    margin-bottom: 5px;
}

.ProductReviewSubmitButton {
    border: none;
    background-color: var(--green);
    border-radius: 12px;
    padding: 12px 20px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: poppins;
    width: 30%;
    margin-top: 30px;
}

.ratingsMainContain {
    display: flex;
    justify-content: center;
    align-items: center;
}



















.starLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.starLabel {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.starLabel svg {
    position: relative;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: all 0.3s;
    fill: #dfdfdf;
}

.starLabel svg:hover {
    transform: scale(1.1);
}

.starLabel input:checked~svg,
.starLabel input:checked~svg~svg,
.starLabel input:checked~svg~svg~svg,
.starLabel input:checked~svg~svg~svg~svg,
.starLabel input:checked~svg~svg~svg~svg~svg {
    fill: #ffeb49;
}



@media screen and (max-width:768px) {
    .ProductReviewMainHeading {
        text-align: center;
        font-size: 30px;
        font-family: poppins;
        color: #1A1A1A;
        margin-top: 30px;
        font-weight: 900;
    }

    .OrderDetailsSummary {
        text-align: center;
        font-size: 12px;
        color: gray;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .mainProductsReviewTableHeading {
        font-size: 20px;
        font-weight: 600;
    }
    .mainHeadingRow {
        font-size: 15px;
        color: #a7a0a0;
        margin: 0px;
    }
    .ProductReviewLabel {
        font-size: 15px;
        font-weight: 500;
        font-family: poppins;
        text-align: center;
        margin: 0%;
        margin-bottom: 5px;
    }

    .productReviewRow {
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .productReviewRow::-webkit-scrollbar {
        display: none;
    }

    .productnameheading {
        font-size: 12px !important;
        margin: 0px !important;
    }

    .ProductReviewProductImageDiv img {
        width: 40%;
    }

    .table_h3 {
        margin: 0px;
        font-size: 12px;
    }

    .table_qty {
        margin: 0px;
        font-size: 12px;
        border: 1px solid #d9d9d9;
        width: 40%;
        border-radius: 25%;
        padding: 5px;
        text-align: center;
    }

    .starLabel svg {
        position: relative;
        top: 0;
        left: 0;
        height: 30px;
        width: 30px;
        transition: all 0.3s;
        fill: #dfdfdf;
    }

    .ProductReviewSubmitButton {
        border: none;
        background-color: var(--green);
        border-radius: 12px;
        padding: 9px 18px;
        color: white;
        font-size: 12px;
        font-weight: 600;
        font-family: poppins;
        width: 100%;
        margin-top: 5px;
    }
}
