/* Root  */
:root {
    --green: #53B175;
    --hovergreen: #3a975c;
}

body {
    min-width: 320px;
    font-family: Quicksand;
}
a{
    text-decoration: none;
}
/* Main Heading */
.promotions_main_heading{
    font-family: 'Mulish';
    text-align: center;
    font-weight: 700;
    font-size: 31px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #4E4E4E;
}
.PromotionsDivProducts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.ProtomotionsProducts{
    width: 32%;
}
/* Hero */
.promotions_hero_container{
    background-image: url(../Images/Banner/HeroHome.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.promotions_hero_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.promotions_hero_description{
    width: 40%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.promotions_hero_description h1{
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    font-family: poppins;
    color: #53B175;
    margin-bottom: 25px;
}
.promotions_hero_description h2{
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    font-family: poppins;
    color: #4E4E4E;
    margin-bottom: 25px;
}
.promotions_hero_description h3{
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    font-family: poppins;
    color: #53B175;
    margin-bottom: 25px;
}
.promotions_hero_description p{
    font-family: Quicksand;
    font-weight: 500;
    font-size: 24px;
    text-align: justify;
}
.promotions_hero_fruit_image{
    width: 45%;
}
/* Products Section */
.promotions_products_main_heading{
    font-family: 'Mulish';
    text-align: center;
    font-weight: 700;
    font-size: 31px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #4E4E4E;
}
.promotions_products_banner_main{
    display: flex;
    justify-content: space-between;
    gap: 45px;
}
.promotions_banner_and_products {
    width: 30%;
}
.promotions_banner{
    /* background-image: url('../Images/Banner/SearchOffer.webp');
    background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
}
.promotions_banner img{
    width: 100%;
}
.promotions_products_mainDiv {
    width: 70%;
}
a {
    text-decoration: none;
    color: black;
}
@media screen and (max-width:768px) {
    .ProtomotionsProducts {
        width: 48%;
    }
    .CategoryMainCardImage {
        width: auto !important;
        height: 190px !important;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .promotions_main_heading {
        font-family: 'Poppins';
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .promotions_hero_fruit_image {
        display: none;
    }
    .promotions_hero_description h1 {
        font-size: 36px;
    }
    .promotions_hero_description h2 {
        text-align: center;
        font-size: 32px;
        font-weight: 600;
        font-family: poppins;
        color: #4E4E4E;
        margin-bottom: 25px;
    }
    .promotions_hero_description h3 {
        font-size: 36px;
        font-weight: 600;
    }
    .promotions_hero_description {
        width: 80%;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .promotions_products_main_heading {
        display: none;
    }
    .promotions_products_banner_main {
        flex-direction: column;
    }
    .promotions_banner_and_products {
        width: 100%;
        margin-top: 10px !important;
        margin: auto;
    }
    .promotions_products_mainDiv {
        width: 100%;
    }
    .promotions_side_products{
        display: none;
    }
}
