/* Root  */
:root {
    --green: #53B175;
    --hovergreen: #3a975c;
}

body {
    background-color: #f0f8f5;
    font-family: 'Poppins', sans-serif;
}
.thank-you-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e8f5e9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.thank-you-header {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: black;
}
.thank-you-text {
    text-align: center;
    font-size: 12px;

}
.order-summary {
    margin-top: 20px;
}
.order-summary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.order-summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}
.order-summary-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 15px;
}
.summary-totals {
    text-align: right;
    margin-top: 20px;
    
}
.summary-totals h5 {
    margin: 5px 0;
}
.btn-continue {
    margin-top: 20px;
    text-align: center;
}
.icon-group {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    gap: 10px;
}
.icon-group img {
    width: 24px;
    cursor: pointer;
}
.thank-you-footer {
    
    margin-top: 20px;
    text-align: center;
}

.summary-totals {
    text-align: left;
    margin-top: 20px;
}

.summary-totals h5, .summary-totals h4 {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    align-items: center;
}

.summary-totals span {
    font-weight: 400;
}
