.breadcrumbs {
    background-image: url('../../Images/Banner/breadcumbs.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
    padding: 27px;
}

ul.breadcrumb {
    padding: 10px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    font-weight: 700;
    font-family: Mulish;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #53B175;
    content: ">\00a0";
}

ul.breadcrumb li a {
    color: #53B175;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #53B175;
    text-decoration: underline;
}

@media screen and (max-width:991px) {
    .breadcrumbs {
        display: none;
    }
}
