.our_values_main_box{
    padding: 50px;
    border: 1px solid #828282;
    width: 30%;
}
.our_values_main_box h1{
    font-size: 31px;
    font-weight: 700;
    font-family: Mulish;
    text-align: center;
    margin-bottom: 30px;
    color: #4E4E4E;
}
.our_values_main_box p{
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
}
