/* Root  */
:root {
    --green: #53B175;
    --hovergreen: #3a975c;
}

body {
    min-width: 320px;
    font-family: Quicksand;
}
a{
    text-decoration: none;
}
/* Main Heading */
.aboutus_main_heading{
    font-family: 'Mulish';
    text-align: center;
    font-weight: 700;
    font-size: 31px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #4E4E4E;
}
/* Hero */
.aboutus_hero_container{
    background-image: url(../Images/Banner/HeroHome.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.aboutus_hero_description{
    width: 100%;
    padding: 40px 0;
}
.aboutus_hero_description h1{
    text-align: center;
    font-size: 31px;
    font-weight: 700;
    font-family: Mulish;
    color: #29292E;
    margin-bottom: 30px;
}
.aboutus_hero_description p{
    font-family: Quicksand;
    font-weight: 500;
    font-size: 24px;
    text-align: justify;
    color: #4E4E4E;
}

.hero_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.aboutus_hero_fruit_image{
   width: 100%;
}
.aboutus_hero_fruit_image img{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 600px;
}
/* Our Values */
.aboutus_our_values_main_heading{
    font-size: 31px;
    font-family: Mulish;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 45px;
    color: #4E4E4E;
}
.aboutus_our_values_card_main_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Why Choose Grocer */
.aboutus_why_choose_grocer_main_heading{
    font-size: 31px;
    font-weight: 700;
    font-family: Mulish;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    color: #4E4E4E;
}
.choosemain_imageand_description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-bottom: 20px;
}
.choosemain_image{
    width: 45%;
    text-align: center;
}
.choosemain_image img{
    width: 80%;
}
.choosemain_description{
    width: 50%;
}
.choosemain_description p{
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
    font-family: Quicksand;
    color: #4E4E4E;
}

@media (max-width: 1024px) {
    .aboutus_hero_fruit_image img {
        width: 450px;
    }
    
}
@media (max-width:768px) {
    .hero_container{
        grid-template-columns: 1fr;
    }
    .aboutus_hero_description p {
        font-family: Quicksand;
        font-weight: 500;
        font-size: 18px;
        text-align: start;
        color: #4E4E4E;
    }
    .our_values_main_box p {
        font-family: Quicksand;
        font-size: 18px;
        font-weight: 500;
    }
    .our_values_main_box h1 {
        font-size: 20px;
        font-weight: 700;
        font-family: Mulish;
        text-align: center;
        margin-bottom: 30px;
        color: #4E4E4E;
    }
    .aboutus_why_choose_grocer_main_heading {
        font-size: 20px;
        font-weight: 700;
        font-family: Mulish;
        margin-top: 60px;
        margin-bottom: 60px;
        text-align: center;
        color: #4E4E4E;
    }
    .choosemain_description p {
        text-align: justify;
        font-size: 18px;
        font-weight: 500;
        font-family: Quicksand;
        color: #4E4E4E;
    }
    .aboutus_main_heading {
        font-family: poppins;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        color: #4E4E4E;
    }
    .aboutus_hero_fruit_image {
    
        display: none;
    }
    
    .aboutus_hero_description {
        width: 100%;
        padding: 40px;
        margin: auto;
    }
    .aboutus_hero_description h1 {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Poppins';
        color: #29292E;
        margin-bottom: 25px;
    }
    .aboutus_our_values_card_main_container {
        flex-direction: column;
    }
    .our_values_main_box {
        width: 80% !important;
        margin-bottom: 20px !important;
        padding: 20px !important;
    }
    .choosemain_imageand_description {
        flex-direction: column;
    }
    .choosemain_image {
        width: 80%;
        text-align: center;
    }
    .choosemain_description {
        width: 80%;
    }
}
