* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --green: #53B175;
}

body {
    min-width: 320px;
    font-family: Quicksand;
}
.upd_cart_btn {
    display: inline-block !important; /* Ensure the button is displayed */
    visibility: visible !important; /* Force visibility */
}


a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}
.cartMainWrapper{
    margin-bottom: 70px;
}
.coupon_tag{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background-color: var(--green);
    width: 50%;
    max-width: 100%;
    cursor: pointer;
}

.CartAlert {
    position: fixed;
    top: 77px;
    right: 10px;
    width: 30%;
    font-size: 12px;
    font-family: 'Quicksand';
    font-weight: 900;
    z-index: 10;
    text-align: justify;
}

#counting {
    font-size: 16px;
    align-self: center;
    margin: 10px;
    width: 10px;
}

.cart_main_container {
    margin-top: 100px;
}

.cart_main_heading {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    font-family: poppins;
    color: #1A1A1A;
    margin-bottom: 20px;
}

.cart_table {
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    padding: 8px;
}

.main_table_heading_cart {
    font-size: 14px;
    color: #808080 !important;
    font-weight: 500;
    font-family: poppins;
}

.product_img_name_cart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ProductImage_cart {
    width: 20%;
    text-align: center;
}

.product_image_cart {
    width: 80%;
    margin: auto;
}

.product_name_cart {
    font-size: 16px;
    font-weight: 400;
    color: #1A1A1A;
    font-family: poppins;
    margin: 0px;
}

.price_bar_cart {
    font-size: 16px;
    font-weight: 400;
    margin-top: 33px;
    font-family: poppins;
    color: #1A1A1A;
}

.counter_cart {
    border-radius: 30px;
    border: 1px solid rgb(211, 204, 204);
    padding: 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    margin-top: 18px;
}

.counter_cart_main {
    margin-top: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.incrementbtn_cart,
.decrementbtn_cart {
    border-radius: 50%;
    border: none;
    width: 37px;
    height: 37px;
    font-size: 25px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.priceXCrossBtnDivCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.cross_button_cart {
    border-radius: 50%;
    border: 1px solid rgb(223, 223, 223);
    padding: 2px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cart_cross_div {
    margin-top: 23px;
}

.returnBtnUpdtCartMainCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rtrn_shop_btn {
    border: none;
    background-color: #F2F2F2;
    border-radius: 12px;
    padding: 14px 32px;
    font-size: 14px;
    font-weight: 600;
    font-family: poppins;
    color: #4D4D4D;
}

.upd_cart_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    background-color: #F2F2F2;
    border-radius: 12px;
    font-size: 14px;
    padding: 14px 32px;
    font-weight: 600;
    font-family: poppins;
    color: #4D4D4D;
}

.coupon_btn {
    border: none;
    border-radius: 43px;
    padding: 16px 40px;
    background-color: #333333;
    color: white;
    margin-left: -90px;
    font-size: 16px;
    font-weight: 600;
    font-family: poppins;
}

.coupon_inp {
    padding: 14px 24px;
    border-radius: 46px;
    border: 1px solid #E6E6E6;
    width: 70%;
}
.coupon_inp:focus{
    outline: none;
}

.coupon_heading {
    font-size: 20px;
    font-weight: 500;
    font-family: poppins;
    color: #1A1A1A;
}

.total_bill {
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    padding: 20px;
}

.total_cart_main_heading {
    font-size: 20px;
    font-weight: 500;
    font-family: poppins;
    color: #1A1A1A;
}

.total_cart_main_rows {
    align-items: baseline;
}

.Sub_heading_Total_cart {
    font-size: 14px;
    font-weight: 400;
    color: #4D4D4D;
    font-family: poppins;
    margin: 0px;
}

.description_total_cart {
    font-size: 14px;
    text-align: right;
    font-weight: 500 !important;
    font-family: poppins;
    color: #1A1A1A;
}

.proceed_checkOut_btn {
    font-family: poppins;
    border: none;
    width: 100%;
    border-radius: 12px;
    color: white;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    background-color: var(--green);
    padding: 16px 40px;
    font-weight: 600;
    cursor: pointer;
}


.coupon_div {
    border: 1px solid #E6E6E6;
    padding: 20px;
    margin-top: 25px;
    border-radius: 8px;
}

/* *****************Media Queries*************** */
@media screen and (max-width:375px) {
    .priceXCrossBtnDivCart {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 65px;
    }

    .price_bar_cart {
        font-size: 10px;
        margin-top: 0px;
    }

    .cart_cross_div {
        margin-top: 0px;
    }

    .counter_cart {
        border-radius: 30px;
        border: 1px solid rgb(211, 204, 204);
        padding: 2px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: fit-content;
        margin-top: 5px;
        height: 26px;
    }

    .ProductImage_cart {
        width: 75%;
    }

    .incrementbtn_cart,
    .decrementbtn_cart {
        border-radius: 50%;
        border: none;
        width: 20px;
        height: 20px;
        font-size: 20px !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product_name_cart {
        font-size: 10px;
        font-weight: 400;
        color: #1A1A1A;
        font-family: poppins;
        margin: 0px;
    }

    .main_table_heading_cart {
        font-size: 10px;
    }

    .rtrn_shop_btn {
        border: none;
        background-color: #F2F2F2;
        border-radius: 12px;
        padding: 10px 20px;
        font-size: 10px;
        font-weight: 600;
        font-family: poppins;
    }

    .upd_cart_btn {
        border: none;
        background-color: #F2F2F2;
        border-radius: 12px;
        font-size: 10px;
        padding: 10px 20px;
        font-weight: 600;
        font-family: poppins;
    }

    .coupon_heading {
        font-size: 10px;
        font-weight: 500;
        font-family: poppins;
    }

    .coupon_btn {
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        background-color: #333333;
        color: white;
        margin-left: 0px;
        font-size: 10px;
        font-weight: 600;
        font-family: poppins;
        margin-top: 10px;
    }

    .coupon_inp {
        padding: 10px 20px;
        border-radius: 10px;
        border: 1px solid #E6E6E6;
        width: 100%;
        margin-top: 10px;
    }

    .total_bill {
        border: 1px solid #E6E6E6;
        border-radius: 5px;
        padding: 20px;
        margin-top: 10px;
    }

    .CartAlert {
        position: fixed;
        top: 10px;
        right: 10px;
        width: 90%;
        font-size: 12px;
        font-family: 'Quicksand';
        font-weight: 900;
        z-index: 10;
        text-align: justify;
    }
}

@media screen and (min-width:376px) and (max-width:500px) {
    .cart_main_heading {
        margin-bottom: 40px;
    }

    .main_table_heading_cart {
        font-size: 10px;
    }

    .ProductImage_cart {
        width: 75%;
    }

    .product_name_cart {
        font-size: 10px;
    }

    .price_bar_cart {
        font-size: 10px;
    }

    .counter_cart {
        border-radius: 30px;
        border: 1px solid rgb(211, 204, 204);
        padding: 2px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: fit-content;
        margin-top: 24px;
        height: 26px;
    }

    .incrementbtn_cart,
    .decrementbtn_cart {
        border-radius: 50%;
        border: none;
        width: 20px;
        height: 20px;
        font-size: 20px !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rtrn_shop_btn {
        border: none;
        background-color: #F2F2F2;
        border-radius: 12px;
        padding: 7px 15px;
        font-size: 10px;
        font-weight: 600;
        font-family: poppins;
    }

    .upd_cart_btn {
        border: none;
        background-color: #F2F2F2;
        border-radius: 12px;
        padding: 7px 15px;
        font-size: 10px;
        font-weight: 600;
        font-family: poppins;
    }

    .coupon_heading {
        font-size: 14px;
    }

    .coupon_inp {
        width: 50%;
        padding: 5px 10px;
    }

    .coupon_btn {
        border: none;
        border-radius: 43px;
        padding: 10px 10px;
        background-color: #333333;
        color: white;
        font-size: 13px;
        margin-left: -57px;
    }

    .add_to_cart_badge {
        padding: 6px 20px;
        border-radius: 12px;
        color: white;
        font-size: 12px;
        background-color: #00B207;
    }


    .total_bill {
        margin-top: 10px;
    }

    .priceXCrossBtnDivCart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 65px;
    }

    .CartAlert {
        position: fixed;
        top: 10px;
        right: 10px;
        width: 90%;
        font-size: 12px;
        font-family: 'Quicksand';
        font-weight: 900;
        z-index: 10;
        text-align: justify;
    }
}

@media screen and (min-width:501px) and (max-width:991px) {
    .main_table_heading_cart {
        font-size: 12px;
    }

    .price_bar_cart {
        margin-top: 19px !important;
    }

    .counter_cart {
        margin-top: 3px;
    }

    .cart_cross_div {
        margin-top: 7px;
    }

    .coupon_inp {
        padding: 10px 15px;
        border-radius: 46px;
        border: 1px solid #E6E6E6;
        width: 43%;
    }

    .coupon_btn {
        border: none;
        border-radius: 43px;
        padding: 11px 22px;
        background-color: #333333;
        color: white;
        margin-left: -50px;
        font-size: 16px;
        font-weight: 600;
        font-family: poppins;
    }

    .total_bill {
        margin-top: 10px;
    }

    .CartAlert {
        position: fixed;
        top: 10px;
        right: 10px;
        width: 45%;
        font-size: 12px;
        font-family: 'Quicksand';
        font-weight: 900;
        z-index: 10;
        text-align: justify;
    }
}
