* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-width: 320px;
    font-family: Quicksand;
}

:root {
    --green: #53B175;
}

a {
    text-decoration: none;
    color: black;
}
.cartegoryProduct_main_heading{
    text-align: center;
    font-size: 31px;
    font-weight: 700;
    color: #29292E;
    margin-bottom: 40px;
    /* text-decoration: underline; */
}
.categoryProducts_no_foundHeading{
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    font-family: Quicksand;
}

.filters{
    display:flex;
   justify-content: space-between;
   align-items: center;
}
.filters h4{
    font-size: 16px;
}

.GridsTargetContent{
    /* width: 33.3%; */
}