/* Root  */
:root {
    --green: #53B175;
    --hovergreen: #3a975c;
}

body {
    min-width: 320px;
    font-family: Quicksand;
}

a {
    text-decoration: none;
}

.contact_error_messages {
    color: red;
    font-size: 15px;
}

.contact_alertMessages {
    position: fixed;
    top: 77px;
    right: 10px;
    width: 30%;
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 900;
    z-index: 10;
}

/* Main Heading */
.contact_us_main_heading {
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 31px;
    font-weight: 700;
    font-family: Mulish;
    text-align: center;
    color: #29292E;
}

.contact_us_form_and_image_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.contact_us_form_main {
    width: 45%;
}

.contact_us_image {
    width: 40%;
}

.contact_us_labels {
    font-size: 20px;
    font-family: Quicksand;
    font-weight: 500;
    margin-bottom: 3px;
}

.contact_us_inp {
    width: 100%;
    padding: 6px;
    border: 1px solid #A0A0A0;
}

.contact_us_inp:focus {
    outline: none;
}

.contact_us_submit_button {
    border: none;
    padding: 3px;
    background-color: #53B175;
    color: white;
    border-radius: 25px;
    width: 30%;
    font-size: 24px;
    font-weight: 600;
    font-family: Quicksand;
    margin-top: 25px;
}

@media screen and (max-width:768px) {
    .contact_alertMessages {
        position: fixed;
        top: 10px;
        right: 10px;
        width: 90%;
        font-family: Quicksand;
        font-size: 14px;
        font-weight: 900;
        z-index: 10;
    }

    .contact_us_form_and_image_main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 200px;
        flex-direction: column-reverse;
    }

    .contact_us_image img {
        width: 100%;
    }

    .contact_us_form_main {
        width: 80%;
    }

    .contact_us_image {
        width: 80%;
        margin-bottom: 50px;
    }

    .contact_us_main_heading {
        margin-bottom: 50px;
        margin-top: 50px;
        font-size: 24px;
        font-weight: 500;
        font-family: poppins;
        text-align: center;
    }

    .contact_us_submit_button {
        width: 45%;
    }
}
