li{
    list-style-type: none;
}
.ullists {
    margin-left: 150px;
}
.footer_logo{
    max-width: 230px;
    width: 100%;
}
.home_li {
    margin-left: 30px;
}
.footermainWrapper {
    margin-top: 20px;
    padding-top: 20px;
}
.footermainWrapper .footer-content {
    width: 100%;
    padding: 0 12px;
    padding-bottom: 50px;
}
.footermainWrapper .footer-content .icon-holder {
    max-width: 50px;
    width: 100%;
    height: 50px;
    border: 1px solid #979797;
    border-radius: 50px;
    padding: 9px
}
.footer-content .footer-nav:not(:first-child):not(:last-child) {
    margin-right: 27px;
}
.footer-content .footer-nav:nth-child(1) .footerheadings {
    margin-bottom: 38px;
}
.footer-content .footer-nav .nav-item {
    margin-bottom: 10px;
}
.footermainWrapper .footer-content .centered {
    text-align: center;
    font-weight: 500;
    margin-top: -30px;
    max-width: 409px;
    margin: auto;
    /* margin-top: -35px; */
    padding: 0 18px !important;
}
.footermainWrapper .centered p {
    line-height: 30px;
}
.rightReversedAndPaymentIconsMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 35px 30px 35px;
}
    
.footer_line {
    color: rgb(196, 196, 196);
    max-width: 95%;
    margin: auto !important;
}

.footerFirstCol {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 14px;
    gap: 4px;
}

.footerFirstCol h3 {
    font-size: 16px;
    font-family: Quicksand;
    color: #253D4E;
    margin: 0px;
}
.footerFirstCol h3 strong {
    font-weight: 600;
}
    
.footerFirstCol h3 span {
    font-size: 14px;
    color: #53616c !important;
}

.footerheadings {
    font-size: 24px;
    font-weight: 600;
    font-family: Quicksand;
    color: #253D4E;
    margin: 0px;
}

.footerSubHeadings {
    font-size: 16px;
    font-weight: 500;
    color: #253D4E;
    font-family: Quicksand;
    transition: all 0.5s ease;
}
.footerSubHeadings:hover {
  
   /* background-color: rgb(162, 247, 162); */
   color: var(--green);
   /* font-weight: 600; */
  padding-left: 5px;
   /* border-radius: 5px; */
}

.footerAllRightReversed {
    font-size: 14px;
    font-weight: 400;
    color: #253D4E;
    font-family: poppins;
    margin: 0px;
}

.footericons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}
.MobileViewfootericons{
    display: none;
}
.MobileViewFooterSocialIcons{
    display: none;
}

@media screen and (max-width:768px) {
    .footericons {
        text-align: start;
    }
    .footer_line{
        display: none;
    }
    .MobileViewfootericons{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }
    .footericons{
        display: none;
    }
    .MobileViewFooterSocialIcons{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }
    .MobileViewFooterIconsMain{
        display: flex;
        justify-content: space-between;
        gap: 25px;
        flex-direction: column;
    }
    .last_container {
        box-shadow: none;
    }
    .footermainWrapper {
        margin-top: 27px !important;
    }
}

@media screen and (max-width:1024px) {
    .footermainWrapper {
        margin-top: 50px;
    }
}
@media screen and (min-width:769px) and (max-width:991px) {
    .footermainWrapper {
        margin-top: 35px;
    }
    .MobileViewFooterIconsMain{
        display: flex;
        justify-content: space-between;
        gap: 25px;
        flex-direction: column;
    }
    .MobileViewfootericons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }
    .footericons{
        display: none;
    }
}
