* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root {
    --green: #53B175;
    --hovergreen: #3a975c;
}
body {
    min-width: 320px;
    font-family: Quicksand;
}

.ForgotPasswordAlert {
    width: 30%;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 14px;
    font-family: poppins;
    z-index: 10;
}

.mainForgotContainer {
    width: 100%;
    height: 100vh;
    display: flex;
}

.ForgotWhiteSection {
    text-align: center;
    width: 40%;
    background-color: white;
    position: relative;
}

.ForgotWhiteSectionSub {
    padding: 100px 0px 50px 0px;
}

.ForgotWhiteSectionSub img {
    margin-bottom: 150px;
}

.ForgotWhiteSectionSub h1 {
    color: var(--green);
    font-size: 36px;
    font-weight: 800;
    font-family: poppins;
    margin-bottom: 20px;
}

.ForgotWhiteSectionSub h2 {
    font-size: 16px;
    font-weight: 300;
    font-family: poppins;
    color: #808080;
    margin-bottom: 50px;
}

.ForgotWhiteSectionButton {
    border: none;
    color: white;
    padding: 15px 0px;
    text-decoration: none;
    background-color: var(--green);
    border-radius: 15px;
    font-size: 20px;
    font-weight: 400;
    font-family: Gilroy-medium;
    width: 50%;
    height: 60px;
    display: block;
    margin: auto;
    margin-bottom: 150px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.ForgotWhiteSectionButton:hover, .Forgot_confirm_button:hover {
    background-color: var(--hovergreen);
    color: white;
}

.grocer_coorporation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grocer_coorporation h2 {
    font-size: 20px;
    font-weight: 400;
    font-family: poppins;
}

/* Green Section Styling */
.ForgotGreenSection {
    width: 60%;
    background-color: var(--green);
}

.Forgot_form_container {
    width: 55%;
    margin: auto;
}

.Forgot_form_main_heading {
    color: white;
    margin-top: 250px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    font-family: 'gilroy-bold';
}

.Forgot_Sub_heading {
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: poppins;
    text-align: center;
    margin-bottom: 50px;
    white-space: nowrap;
}

.Forgot_form_label {
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: Gilroy-medium;
    margin-bottom: 10px;
    margin-top: 20px;
}

.forgot_form_inp1 {
    padding: 15px;
    border-radius: 15px;
    border: none;
    width: 100%;
    font-size: 18px;
    font-family: poppins;
}

.forgot_form_inp1:focus {
    outline: none;
}

.emailFieldIcon {
    position: relative;
}

.emailFieldIcon img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
}


.Forgot_confirm_button {
    width: 100%;
    height: 60px;
    border: 3px solid white;
    background-color: transparent;
    padding: 15px 0px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 400;
    font-family: poppins;
    color: white;
    margin-top: 20px;
}

/* Mobile View */
.LoginMobileViewSignUp,
.MobileViewLogo,
.MobileViewgrocer_coorporation {
    display: none;
}

/* Mobile View */

@media screen and (max-width:768px) {
    .ForgotPasswordAlert {
        width: 90%;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 14px;
        font-family: poppins;
        z-index: 10;
    }

    .ForgotWhiteSection {
        display: none;
    }

    .ForgotGreenSection {
        width: 100%;
        background-color: white;
        position: relative;
    }

    .Forgot_form_main_heading {
        color: #696969;
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: left;
        font-size: 32px;
        font-weight: 400;
        font-family: Gilroy-medium;
        width: 50%;
    }

    .Forgot_form_label {
        color: black;
        font-size: 16px;
        font-weight: 400;
        font-family: 'gilroy-medium';
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .Forgot_Sub_heading {
        display: none;
    }

    .Forgot_form_container {
        width: 80%;
    }

    .Forgot_confirm_button {
        width: 100%;
        border: none;
        background-color: var(--green);
        padding: 15px 0px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 400;
        font-family: poppins;
        color: white;
        margin-bottom: 200px;
    }

    .forgot_form_inp1 {
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        font-size: 13px;
        font-weight: 400;
        color: #646464 !important;
        font-family: poppins;
        border: 1px solid #7D7D7D;
    }

    .login_form_forgot_password {
        color: black;
        font-size: 14px;
        text-align: -webkit-center;
        font-weight: 400;
        font-family: poppins;
        text-decoration: none;
    }

    /* Mobile View */



    .MobileViewLogo {
        text-align: center;
        display: block;
        margin-bottom: 125px;
    }

    .MobileViewgrocer_coorporation {
        display: block;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .MobileViewgrocer_coorporation h1 {
        font-size: 12px;
        white-space: nowrap;
        font-weight: 400;
        text-align: center;
        color: #4A4A4A;
        font-family: Gilroy-medium;
    }
}






















.labelForgotPassword {
    font-size: 14px;
    font-weight: 500;
    margin-top: 12px;
    font-family: Outfit;
}

.email_inp_forgotpasword {
    width: 100%;
    border: 1px solid rgb(228, 220, 220);
    padding: 10px;
    border-radius: 10px;
    font-family: Outfit;
    outline: none;
}

.passwordforgotbutton {
    background-color: #00B207;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    font-family: Outfit;
    margin-top: 35px;
}

.forgotpasswordnote {
    text-align: center;
    font-size: 13px;
    font-family: Outfit;
}
