* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root {
    --green: #53B175;
    --hovergreen: #3a975c;
}
body {
    min-width: 320px;
    font-family: Quicksand;
}

.mainResetContainer {
    width: 100%;
    display: flex;
}

.resetWhiteSection {
    text-align: center;
    width: 40%;
    background-color: white;
    position: relative;
}

.resetWhiteSectionSub {
    padding: 100px 0px 50px 0px;
}

.resetWhiteSectionSub img {
    margin-bottom: 150px;
}

.resetWhiteSectionSub h1 {
    color: var(--green);
    font-size: 36px;
    font-weight: 800;
    font-family: poppins;
    margin-bottom: 20px;
}

.resetWhiteSectionSub h2 {
    font-size: 16px;
    font-weight: 300;
    font-family: poppins;
    color: #808080;
    margin-bottom: 50px;
}

.resetWhiteSectionButton {
    border: none;
    color: white;
    padding: 15px 0px;
    text-decoration: none;
    background-color: var(--green);
    border-radius: 20px;
    font-size: 20px;
    font-weight: 300;
    font-family: Gilroy-medium;
    width: 50%;
    display: block;
    margin: auto;
    margin-bottom: 150px !important;
}

/* Green Section Styling */
.ResetGreenSection {
    width: 60%;
    background-color: var(--green);
}

.Reset_form_container {
    width: 55%;
    margin: auto;
}

.reset_form_label {
    color: white;
    font-size: 16px;
    font-weight: 300;
    font-family: Gilroy-medium;
    margin-bottom: 10px;
    margin-top: 10px;
}

.Reset_form_main_heading {
    color: white;
    margin-top: 100px;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    font-family: Gilroy-bold;
}
.Reset_form_main_Subheading {
    display: block;
    color: white;
    margin-top: 10px;
    margin-bottom: 70px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    font-family: Poppins;
}

.reset_form_inp1 {
    padding: 15px;
    border-radius: 15px;
    border: none;
    width: 100%;
    font-size: 18px;
    font-family: poppins;
}

.reset_form_inp1:focus {
    outline: none;
}

.reset_button {
    width: 100%;
    border: 3px solid white;
    background-color: transparent;
    padding: 15px 0px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 300;
    font-family: Gilroy-medium;
    color: white;
}
.LoginMobileViewLogo {
    display: none;
}



@media screen and (max-width:768px) {
    .resetWhiteSection {
        display: none;
    }

    .Reset_form_main_Subheading{
        display: none;
    }
    
    .LoginMobileViewLogo{
        display: block;
        width: 100%;
    }

    .ResetGreenSection {
        width: 100%;
        background-color: white;
        position: relative;
    }

    .Reset_form_container {
        width: 80%;
    }

    .Reset_form_main_heading {
        color: #696969;
        margin-top: 50px;
        margin-bottom: 10px;
        text-align: left;
        font-size: 32px;
        font-weight: 400;
        font-family: Gilroy-medium;
        width: 50%;
    }

    .reset_form_inp1 {
        padding: 15px;
        border-radius: 10px;
        width: 100%;
        font-size: 13px;
        font-weight: 300;
        color: #646464 !important;
        font-family: poppins;
        border: 1px solid #7D7D7D;
    }

    .reset_form_label {
        color: black;
        font-size: 16px;
        font-weight: 400;
        font-family: Gilroy-medium;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .reset_button {
        width: 100%;
        border: none;
        background-color: var(--green);
        padding: 15px 0px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 400;
        font-family: poppins;
        color: white;
        margin-bottom: 50px;
    }
}
