.department_card_heading {
    font-size: 24px;
    font-weight: 700;
    color: #29292E;
    font-family: Mulish;
    margin-top: 20px;
}

.department_card_description {
    font-size: 14px;
    font-weight: 400;
    color: #808080;
    font-family: poppins;
}
