.rating {
    margin-top: 15px;
    margin-bottom: 4px;
}
.rating .stars {
    display: flex;
    align-items: center;
    gap: 3px;
}
.rating img {
    width: 14px;
    height: 14px;
}
.NoOfstars {
    font-size: 10px;
    color: #ADADAD;
    font-weight: 400;
    font-family: poppins;
}
