:root {
    --green: #53B175;
    --hovergreen: #3a975c;
}

.in_wishlist {
    background-color: var(--green) !important;
    color: white !important;
    outline: none !important;
}

.in_cart {
    background-color: var(--green) !important;
    color: white !important;
    outline: none !important;
}

.mainProductCardWishlistAlert {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    font-size: 10px;
    font-family: 'Quicksand';
    font-weight: 900;
    z-index: 10;
}

.searchaddbutton {
    border-radius: 50%;
    background-color: rgb(238, 238, 238);
    color: black;
    float: inline-end;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: all 0.3s ease-in-out;
}

.departmentcardImageDiv {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.departmentcardImageDiv img {
    clip-path: circle(50%);
    width: 80% !important;
}

.CategoryMainCardImage {
    /* width: 200px; */
    height: 270px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_main_image {
    width: 160px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sale_products_heading {
    font-size: 20px;
    font-weight: 500;
    color: #1A1A1A;
}

.ProductsCardSearchANDCategory {
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #E6E6E6;
    width: 100% !important;
    transition: all .5s ease;
    cursor: pointer;
    /* filter: drop-shadow(0px 2px 4px rgb(212, 212, 212)); */
}

.ProductsCardSearchANDCategory:hover .heart,
.ProductsCardSearchANDCategory:hover .eye {
    visibility: visible;
    /* show the buttons on hover */
}

.ProductsCardSearchANDCategory:hover {
    border: 1px solid var(--green) !important;
}

.ProductsCardSearchANDCategory:hover .searchcard_heading {
    color: #2C742F;
}

.searchaddbutton:hover {
    background-color: var(--green);
    color: white;
    cursor: pointer;
}

.searchpricetag {
    font-size: 16px;
    font-weight: 500;
    font-family: poppins;
    color: #1A1A1A;
}

.searchcard_heading {
    font-size: 14px;
    font-weight: 400;
    color: #4D4D4D;
    font-family: poppins;
}

.heart {
    border-radius: 50%;
    outline: 1px solid rgb(221, 217, 217);
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    visibility: hidden;
    transition: all 0.4s ease;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart:Hover {
    outline: none;
    background-color: var(--green);
    color: white !important;
}

.eye {
    border-radius: 50%;
    width: 40px;
    font-size: 20px;
    outline: 1px solid rgb(221, 217, 217);
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: white;
    visibility: hidden;
    transition: all 0.4s ease;
    height: 40px;
    display: flex;
    justify-content: center;
}

.eye:Hover {
    outline: none;
    background-color: var(--green);
    color: white !important;
}

.eye:Hover a {
    color: white !important;
}

.eye a {
    display: flex;
    justify-content: center;
    align-items: center;
}
